@model Capstone_Project.Models.Survey

@{
    ViewBag.Title = "Survey Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit User</h2>

@using (@Html.BeginForm("Save", "Survey")) // The "using" block will create an ending "</form> tag for us
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder="Survey Name" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Directions)
        @Html.TextBoxFor(m => m.Directions, new {@class = "form-control", placeholder = "Survey Directions"})
        @Html.ValidationMessageFor(m => m.Directions)
    </div>
    @Html.HiddenFor(m => m.Id) // This line makes it so the info is updated in the database
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}
