@model Capstone_Project.ViewModel.SurveyViewModel

@{
    ViewBag.Title = "Survey Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Survey</h2>

@using (@Html.BeginForm("Save", "Survey")) // The "using" block will create an ending "</form> tag for us
{
    <div class="form-group">
        @Html.LabelFor(m => m.Survey.Name)
        @Html.TextBoxFor(m => m.Survey.Name, new { @class = "form-control", placeholder="Survey Name" })
        @Html.ValidationMessageFor(m => m.Survey.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Survey.Directions)
        @Html.TextBoxFor(m => m.Survey.Directions, new {@class = "form-control", placeholder = "Survey Directions"})
        @Html.ValidationMessageFor(m => m.Survey.Directions)
    </div>

    <div id="options" class="form-group">
        @Html.LabelFor(m => m.Options)
        @Html.TextBoxFor(m => m.Options, new { @class = "form-control", placeholder = "Option" })
        @Html.ValidationMessageFor(m => m.Options)
    </div>

    @Ajax.ActionLink("Add an option", "AddOption", new { @class = "btn btn-primary" }, new AjaxOptions
{
    UpdateTargetId = "options",
    InsertionMode = InsertionMode.InsertBefore,
})

    @Html.HiddenFor(m => m.Survey.Id) // This line makes it so the info is updated in the database
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}
