@model Capstone_Project.ViewModel.SurveyViewModel

@{
    ViewBag.Title = "TakeSurvey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 name="@Model.Survey.Id">@Model.Survey.Name</h2>

<p>@Model.Survey.Directions</p>

<h4 style="margin-top: 1em">Most Favorite</h4>

<ul id="sortable">
    @{
        int index = 0;
        foreach (var option in Model.Options)
        {
            if (option.SurveyId == Model.Survey.Id)
            {
                <li class="list-group-item" name="surveyOption" id="@index">@option.Name</li>
                index++;
            }
        }
        if (index == 0)
        {
            <li id="@index" style="padding-top: 0.2%;">This survey does not have any options</li>
        }
    }
</ul>

<h4 style="margin-bottom: 1.5em;">Least Favorite</h4>

<script type="text/javascript">
    $(function () {
        $("#sortable").sortable({ containment: 'parent', tolerance: 'pointer', cursor: 'pointer', revert: false, opacity: 0.60 });
        $("#sortable").disableSelection();
    });
</script>

<div class="row">
    <p><a id="submitBtn" data-user-id="@Model.User.Id" onclick="getSortableOrderAndRedirect()" class="btn btn-primary js-post" type="submit">Submit &raquo;</a></p>
</div>

@section scripts
{
    <script type="text/javascript">
        function getSortableOrderAndRedirect() {
            var optionIds = [];
            $("ul li[name='surveyOption']").each(function() { optionIds.push($(this).attr("id")) });
            console.log(optionIds);
            window.location.href = "/Results/ShowResults/" + @Model.Survey.Id + "?sortorder=" + optionIds;
        };
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}
