@model Capstone_Project.ViewModel.UserFormViewModel

@{
    ViewBag.Title = Model.User.UserName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<ul>
    @if (Model.User.IsResearcher)
    {
        <li>Membership Type: Researcher</li>
    }
    else
    {
        <li>Membership Type: User</li>
    }

    @if (Model.User.Birthdate.HasValue)
    {
        <li>Birthdate: @Model.User.Birthdate.Value.ToShortDateString()</li>
    }

    <li>Gender: @Model.User.Gender.GenderName</li>

    <li>Demographic: @Model.User.Demographic.Name</li>

    @if (Model.User.Country != null)
    {
        <li>Country: @Model.User.Country</li>
    }
</ul>
