<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style type="text/css">
        circle.node {
            cursor: pointer;
            stroke: #000;
            stroke-width: .5px;
        }

        line.link {
            fill: none;
            stroke: #9ecae1;
            stroke-width: 1.5px;
        }
    </style>
    <script src="@Url.Content("~/Scripts/jquery-1.12.4.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.js")" type="text/javascript"></script>

    <script type="text/javascript"> // SORTABLE JS CODE STARTS HERE AND IS NOT WORKING FOR SOME REASON
        $(function() {
            $("#sortable").sortable({ containment: 'parent', tolerance: 'pointer', cursor: 'pointer', revert: true, opacity: 0.60 });
            $("#sortable").disableSelection();
        });
    </script>

</head>
<body>
    @Html.Partial("_NavBar")
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; Enodo - @DateTime.Now.Year - DePaul University - Capstone Project</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
