<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
        circle.node {
            cursor: pointer;
            stroke: #000;
            stroke-width: .5px;
        }
        line.link {
            fill: none;
            stroke: #9ecae1;
            stroke-width: 1.5px;
        }
        #sortable
        {
            list-style-type: none;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        #sortable li
        {
            margin-bottom: 4px;
            margin-top: 4px;
            max-width: 300px;
            background-color: lightcyan;
        }
    </style>
</head>
<body>
    @Html.Partial("_NavBar")
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; Enodo - @DateTime.Now.Year - DePaul University - Capstone Project</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)*@
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
